    *{
    margin: 0;
    padding: 0;    
    }
    
    body {
    font-family: "Montserrat", sans-serif;;        
    }

    .header {
        border: 2px solid red;
    background-image: url("./images/smiling-image.jpg");
    background-size: cover;
    background-position: 50% 25%;
    padding: 60px 30px 40px 30px;
    }

    .header-content{
        border: 2px solid blue;
        max-width: 50%;
        margin-left: 80px;

    }

    p, li {
        color: #475550;
        font-size: 16px;
    }

    h1 {
    color: #0a7e51;    
    }

    h3, .trybe_green {
    color: #11a36a;    
    }

    .hero-title {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;       
    }

.market.heading {
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    }

    .picture{
    border-radius: 100%;
    }   

    .button{
padding: 15px 30px;
border-radius: 4px;
background-color: #11a36a;
color: #fff;
font-size: 16px;
line-height: 20px;
font-weight: 700;
text-decoration: none;
    }